<!doctype html>
<html lang="{{ request.locale.iso_code }}">
    <head>
        {% # Social, title, etc. %}
        {% render 'meta-tags' %}

        {%- liquid
            render 'vite-tag' with 'css/main.css'
            render 'vite-tag' with 'ts/theme.ts'
            render 'vite-tag' with 'ts/password.ts'
        -%}
        {{ content_for_header }}
    </head>

    <body>
        {{ content_for_layout }}
    </body>
</html>
